{% extends 'simplewiki/base.html' %}
{% load i18n %}
{% load humanize %}
{% load static %}

{% block details %}
<h1 class="page-header text-center">Markdown Guide</h1>
<div class="alert alert-info" role="alert">
    You are viewing the built-in markdown guide, as this plugin support more than the usual markdown syntax. Our markdown renderer fully supports GitHub's markdown syntax and more.
</div>

<div>

    <!-- Nav tabs -->
    <ul class="nav nav-tabs nav-fill" id="myTab" role="tablist">
        <li class="nav-item" role="presentation">
            <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#headings" type="button" role="tab" aria-controls="home" aria-selected="true">
                Headings
            </button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" id="home-tab" data-bs-toggle="tab" data-bs-target="#texts" type="button" role="tab" aria-controls="home" aria-selected="true">
                Texts
            </button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" id="home-tab" data-bs-toggle="tab" data-bs-target="#lists" type="button" role="tab" aria-controls="home" aria-selected="true">
                Lists
            </button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" id="home-tab" data-bs-toggle="tab" data-bs-target="#blocks" type="button" role="tab" aria-controls="home" aria-selected="true">
                Blocks
            </button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" id="home-tab" data-bs-toggle="tab" data-bs-target="#images" type="button" role="tab" aria-controls="home" aria-selected="true">
                Images
            </button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" id="home-tab" data-bs-toggle="tab" data-bs-target="#videos" type="button" role="tab" aria-controls="home" aria-selected="true">
                Videos
            </button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" id="home-tab" data-bs-toggle="tab" data-bs-target="#tables" type="button" role="tab" aria-controls="home" aria-selected="true">
                Tables
            </button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" id="home-tab" data-bs-toggle="tab" data-bs-target="#alerts" type="button" role="tab" aria-controls="home" aria-selected="true">
                Alerts
            </button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" id="home-tab" data-bs-toggle="tab" data-bs-target="#gdrive" type="button" role="tab" aria-controls="home" aria-selected="true">
                Google Drive
            </button>
        </li>
    </ul>
    
    <!-- Tab panes -->
    <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active" id="headings" role="tabpanel">
            {% include 'simplewiki/guides/partials/_markdown_headings.html' %}
        </div>
        <div class="tab-pane fade show active" id="texts" role="tabpanel">
            {% include 'simplewiki/guides/partials/_markdown_texts.html' %}
        </div>
        <div class="tab-pane fade show active" id="lists" role="tabpanel">
            {% include 'simplewiki/guides/partials/_markdown_lists.html' %}
        </div>
        <div class="tab-pane fade show active" id="blocks" role="tabpanel">
            {% include 'simplewiki/guides/partials/_markdown_blocks.html' %}
        </div>
        <div class="tab-pane fade show active" id="images" role="tabpanel">
            {% include 'simplewiki/guides/partials/_markdown_images.html' %}
        </div>
        <div class="tab-pane fade show active" id="videos" role="tabpanel">
            {% include 'simplewiki/guides/partials/_markdown_videos.html' %}
        </div>
        <div class="tab-pane fade show active" id="tables" role="tabpanel">
            {% include 'simplewiki/guides/partials/_markdown_tables.html' %}
        </div>
        <div class="tab-pane fade show active" id="alerts" role="tabpanel">
            {% include 'simplewiki/guides/partials/_markdown_alerts.html' %}
        </div>
        <div class="tab-pane fade show active" id="gdrive" role="tabpanel">
            {% include 'simplewiki/guides/partials/_markdown_gdrive.html' %}
        </div>
    </div>
  
</div>
{% endblock %}

{% block extra_javascript %}
{% endblock %}

{% block extra_script %}
{% endblock %}
