{% extends 'simplewiki/base.html' %}
{% load i18n %}
{% load humanize %}
{% load static %}

{% block details %}
<h1 class="page-header text-center">Markdown Guide</h1>
<div class="alert alert-info" role="alert">
    You are viewing the built-in markdown guide, as this plugin support more than the usual markdown syntax. Our markdown renderer fully supports GitHub's markdown syntax and more.
</div>

<div>

    <!-- TABS -->
    <ul class="nav nav-tabs nav-fill" id="pills-tab" role="tablist">
        <li class="nav-item" role="presentation">
            <button class="nav-link active" id="pills-home-tab" data-bs-toggle="pill" data-bs-target="#heading" type="button" role="tab" aria-controls="pills-home" aria-selected="true">
                Headings
            </button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" id="pills-profile-tab" data-bs-toggle="pill" data-bs-target="#text" type="button" role="tab" aria-controls="pills-profile" aria-selected="false">
                Texts
            </button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" id="pills-contact-tab" data-bs-toggle="pill" data-bs-target="#block" type="button" role="tab" aria-controls="pills-contact" aria-selected="false">
                Blocks
            </button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" id="pills-contact-tab" data-bs-toggle="pill" data-bs-target="#list" type="button" role="tab" aria-controls="pills-contact" aria-selected="false">
                Lists
            </button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" id="pills-contact-tab" data-bs-toggle="pill" data-bs-target="#image" type="button" role="tab" aria-controls="pills-contact" aria-selected="false">
                Images
            </button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" id="pills-contact-tab" data-bs-toggle="pill" data-bs-target="#video" type="button" role="tab" aria-controls="pills-contact" aria-selected="false">
                Videos
            </button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" id="pills-contact-tab" data-bs-toggle="pill" data-bs-target="#table" type="button" role="tab" aria-controls="pills-contact" aria-selected="false">
                Table
            </button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" id="pills-contact-tab" data-bs-toggle="pill" data-bs-target="#alert" type="button" role="tab" aria-controls="pills-contact" aria-selected="false">
                Alerts
            </button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" id="pills-contact-tab" data-bs-toggle="pill" data-bs-target="#gdrive" type="button" role="tab" aria-controls="pills-contact" aria-selected="false">
                Google Cloud
            </button>
        </li>
    </ul>
    
    <!-- CONTENT -->
    <div class="tab-content" id="pills-tabContent">
        <div class="tab-pane fade show active" id="heading" role="tabpanel" aria-labelledby="pills-home-tab">
            {% include 'simplewiki/guides/partials/_markdown_heading.html' %}
        </div>
        <div class="tab-pane fade" id="text" role="tabpanel" aria-labelledby="pills-profile-tab">
            {% include 'simplewiki/guides/partials/_markdown_text.html' %}
        </div>
        <div class="tab-pane fade" id="block" role="tabpanel" aria-labelledby="pills-contact-tab">
            {% include 'simplewiki/guides/partials/_markdown_block.html' %}
        </div>
        <div class="tab-pane fade" id="list" role="tabpanel" aria-labelledby="pills-contact-tab">
            {% include 'simplewiki/guides/partials/_markdown_list.html' %}
        </div>
        <div class="tab-pane fade" id="image" role="tabpanel" aria-labelledby="pills-contact-tab">
            {% include 'simplewiki/guides/partials/_markdown_image.html' %}
        </div>
        <div class="tab-pane fade" id="video" role="tabpanel" aria-labelledby="pills-contact-tab">
            {% include 'simplewiki/guides/partials/_markdown_video.html' %}
        </div>
        <div class="tab-pane fade" id="table" role="tabpanel" aria-labelledby="pills-contact-tab">
            {% include 'simplewiki/guides/partials/_markdown_table.html' %}
        </div>
        <div class="tab-pane fade" id="alert" role="tabpanel" aria-labelledby="pills-contact-tab">
            {% include 'simplewiki/guides/partials/_markdown_alert.html' %}
        </div>
        <div class="tab-pane fade" id="gdrive" role="tabpanel" aria-labelledby="pills-contact-tab">
            {% include 'simplewiki/guides/partials/_markdown_gdrive.html' %}
        </div>
    </div>
      
  
</div>
{% endblock %}

{% block extra_javascript %}
{% endblock %}

{% block extra_script %}
{% endblock %}
