{% extends 'allianceauth/base.html' %}

{% load i18n %}
{% load static %}

{% block page_title %}{% translate "Wiki" %}{% endblock %}

{% block content %}
<div class="allianceauth-afatstat-plugin">
    <br />
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

                <a class="navbar-brand" href="">
                    <i class="fas fa-book"></i>
                    Wiki
                </a>
                
            </div>
    
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                {% for menu_item in menu_items %}
                    {% if not menu_item.group or menu_item.group in user_groups%}
                    <ul class="nav navbar-nav">
                        <li class="navbar-text">
                            <a href="{% url 'simplewiki:dynamic_menu' menu_name=menu_item.path %}" style="display: inline-block;">
                                <i class="{{ menu_item.icon }}" style="display: inline-block;"></i>
                                {{ menu_item.title }}
                            </a>
                        </li>
                    </ul>
                    {% endif %}
                {% endfor %} 
                  
                
                <ul class="nav navbar-nav navbar-right">
                    <li class="navbar-text">
                        <a href="{% url 'simplewiki:search' %}">
                            <i class="fas fa-search"></i>
                            Search
                        </a>
                    </li>
                    {% if permission is True %}
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-user-cog"></i>
                                Admin 
                                <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="{% url 'simplewiki:admin_menus' %}">
                                        <i class="fas fa-folder-open"></i>
                                        Menus
                                    </a>
                                </li>
                                <li>
                                    <a href="{% url 'simplewiki:admin_sections' %}">
                                        <i class="fas fa-pen"></i>
                                        Sections
                                    </a>
                                </li>
                            </ul>
                        </li>
                    {% endif %}
                  </ul>
            </div>
        </div>
    </nav>
    {% block details %}{% endblock %}
</div>
{% endblock %}

{% block extra_css %}
<link rel="stylesheet" type="text/css" href="{% static 'simplewiki/custom.css' %}" />
{% endblock %}

