{% extends 'simplewiki/base.html' %}

{% load i18n %}
{% load humanize %}
{% load static %}

{% block details %}
    {% if menu_items %}
        {% for menu_item in menu_items %}
            <!-- Render menu item details here -->
        {% endfor %}
    {% else %}
        <div class="alert alert-danger" role="alert">
            You see this error because there are no menus. Please go to the admin settings and create one.
        </div>
    {% endif %}
{% endblock %}

{% block extra_javascript %}{% endblock %}

{% block extra_script %}{% endblock %}
