{% extends 'simplewiki/base.html' %}
{% load i18n %}
{% load humanize %}
{% load static %}
{% load markdown_filters %}

{% block details %}
<form class="form-inline" method="GET" action="{% url 'simplewiki:search' %}"></form>
      <div class="input-group">
        <input type="text" class="form-control" type="search" name="query" placeholder="Search for...">
        <span class="input-group-btn">
          <button class="btn btn-default" type="submit">
            <i class="fas fa-search"></i>
            Go!
            </button>
        </span>
      </div>
    </form>
    <br />
    {% for item in searchResults %}
    <div class="panel panel-primary">
        <div class="panel-heading">
            <div class="panel-title">
                <i class="{{ item.icon }}"></i>
                <a href="{% url 'simplewiki:dynamic_menu' menu_name=item.menu_path %}">
                    {{ item.title }}
                </a>
            </div>
        </div>
        <div class="panel-body">
            <p>
                {{ item.content|markdown|safe }}
            </p>
        </div>
    </div>
    {% endfor %}
{% endblock %}

{% block extra_javascript %}
{% endblock %}

{% block extra_css %}
<link rel="stylesheet" type="text/css" href="{% static 'simplewiki/custom.css' %}" />
{% endblock %}

{% block extra_script %}
{% endblock %}
