<div class="form-group">
    <label for="exampleInputEmail1">Index:</label>
    <input type="text" class="form-control" name="index" placeholder="" required>
    <p class="help-block">Required: The navbar is sorted by this index. The lower the value, the further to the left is the menu.</p>
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Title:</label>
    <input type="text" class="form-control" name="title" placeholder="" required>
    <p class="help-block">Required: The navbar title for the menu.</p>
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Icon:</label>
    <input type="text" class="form-control" name="icon" placeholder="">
    <p class="help-block">Optional: Go to <a href="https://fontawesome.com/v5/search">https://fontawesome.com/v5/search</a> to find matching icons. We only support free icons. Format example: fas fa-hand-spock</p>
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Group:</label>
    <input type="text" class="form-control" name="group" placeholder="">
    <p class="help-block">Optional: Do you only want to show this page to one group of people? Insert the group name here and only they will be able to see the post and all of it's sections.</p>
  </div>
  <button type="submit" name="confirm_create" value="0" class="btn btn-default">Cancel</button>
  <div class="pull-right">
    <button type="submit" name="confirm_create" value="1" class="btn btn-success">Create</button>
  </div>