<div class="panel-body">
    <div class="text-center h4">
      Are you sure you want to delete the following menu?
      <br />
      <br />
      <i class="{{ selectedMenu.icon }}"></i> {{ selectedMenu.title }}
    </div>


    <form method="post">
      {% csrf_token %}
      <button type="submit" name="confirm_delete" value="0" class="btn btn-success">
        <i class="fas fa-times-circle"></i>
        Cancel
    </button>
      <div class="float-end">
        <button type="submit" name="confirm_delete" value="1" class="btn btn-danger">
            <i class="fas fa-trash-alt"></i>
            Delete
        </button>
      </div>
    </form>
  </div>