<div class="panel-body">
  <!-- Delete Confirmation Message -->
  <div class="text-center h4">
    Are you sure you want to delete the following menu?
    <br /><br />
    <i class="{{ selectedMenu.icon }}"></i> {{ selectedMenu.title }}
  </div>
  
  <!-- Delete Confirmation Form -->
  <form method="post">
    {% csrf_token %}
    
    <div class="row" style="margin-top: 2rem; margin-bottom: 1rem; margin-left: 0.5rem; margin-right: 0.5rem;">
      
      <!-- Cancel Button -->
      <div class="col d-grid">
        <button type="submit" name="confirm_delete" value="0" class="btn btn-primary shadow">
          <i class="fas fa-times-circle"></i> Cancel
        </button>
      </div>
      
      <!-- Delete Button -->
      <div class="col d-grid">
        <button type="submit" name="confirm_delete" value="1" class="btn btn-danger shadow">
          <i class="fas fa-trash-alt"></i> Delete
        </button>
      </div>
      
    </div>
  </form>
</div>
