{% load markdown_filters %}

<div class="card card-default">
    <div class="card-body">
        <h1>
            Google Drive
        </h1>
        <p>
            You can include a dynamic frame of all your shared google documents. To achieve that, go to your google drive, select a folder you want to share, right click and then go to "share", and on the bottom click on the drop down menu "General Access" and select "Anyone with the link" and then on the right side select "Viewer".<br><br>Now copy the link and remove the "https://drive.google.com/drive/folders/" and "?usp=sharing", so you only have the folder id. Paste that folder id into the first attribute (right after "gdrive:")
        </p>
        <pre><code>gdrive:{folder_id}:{type}:{width}:{height}</code></pre>
        <h3>Examples</h3>
        <pre><code>gdrive:{folder_id}:{list / grid}:100%:500px</code></pre>
        <h4>
            List
        </h4>
        <img src="https://raw.githubusercontent.com/meowosaurus/aa-simplewiki/master/images/gdrive_list.png">
        <h4>
            Grid
        </h4>
        <img src="https://raw.githubusercontent.com/meowosaurus/aa-simplewiki/master/images/gdrive_grid.png">
    </div>
</div>